body{
    font-family: "Shopify Sans Web,Roboto,Segoe UI,Helvetica Neue",sans-serif;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    background-color: #000;
    margin: 0 auto;
    padding: 0 4%;
}

.bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("main.jpg");
    height: 100vh;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 260px;
    margin-top: 2px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #fff;
}
.main-nav a:hover {
    color: #FFCB3C;
}
